<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Prerna.iOSDemo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iosdemo</string>
			</array>
		</dict>
	</array>
	<key>CleverTapAccountID</key>
	<string>49K-57W-4Z6Z</string>
	<key>CleverTapToken</key>
	<string>0a5-3c4</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
